@{
    ViewData["Title"] = "Index2"; // Sayfa başlığı belirleniyor.
}

<h1>Routing/Index2</h1> 

<p>user id : @ViewBag.userId</p> <!-- ViewBag.userId içindeki değeri ekrana yazdırır. -->
<p>user name : @ViewBag.userName</p> <!-- ViewBag.userName içindeki değeri ekrana yazdırır. -->
